

p {
    margin-bottom: 0;
}
.navbar {
    background-color: var(--bg-main);
margin-bottom: 30px;
border-bottom: 1px solid rgba(229, 234, 239, 1);
}
.navbar-brand {
    flex: 1;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-collapse {
    justify-content: flex-end;
    gap: 30px;
    transition: all .5s ease;
}
.d-flex{
    border: 1px solid #78828A;
    background-color: transparent !important;
    border-radius: 40px;
    width: 350px;
    padding: 7px;
    display: flex;
   
    align-items: center;
    

    .btn-search {
        background-color: transparent !important;
        border: none;
        color: #78828A;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        .bx-search {
            font-size: 24px;
            
        }
        
    }
    .form-control {
        border: none;
        background-color: transparent !important;
    }
    
    .form-control:focus {
outline: none !important;
box-shadow: none;
    }
}
.navbar-nav {
    gap: 30px;
    align-items: center !important;
    .calendar {
        display: flex;
        align-items: center !important;
        gap: 10px;

        .bx-calendar{
            font-size: 20px;
        }
    }
    .notify{
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #78828A;
        padding: 6px;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center !important;
        .bx-bell {
            font-size: 25px;
        }
    }
    .profile {
        display: flex;
        border: 1px solid #78828A;
        padding: 5px 8px;
        border-radius: 30px;
        justify-content: space-between;
        align-items: center !important;
        gap: 10px;

        .bx-chevron-down {
            font-size: 25px;
        }
    }
}

.dark-mode {
  
  background-color: var(--bg-card);
  color: #fff;
  border-bottom: 1px solid rgb(72, 72, 72);

  .navbar-brand {
    color: #fff;
  }
  .bx-bell {
    color: #fff;
  }
   .form-control::placeholder{
    color: #fff;
   }
   .d-flex {
    border-color: var(--dark-border);
   }
   .navbar-nav {
 
    .notify{
          border-color: var(--dark-border);


     
    }
    .profile {
   
         border-color: var(--dark-border);

   

    }
}

}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 1024px) {
}
@media only screen and (max-width: 768px) {
    .navbar-collapse{
        justify-content: center !important;
        border-bottom: 1px solid #78828A;
        padding: 8px 0;
    }
    .d-flex{
        width: 300px;
        margin: 10px auto;
    }
}
 @media only screen and (max-width: 480px) {
    .d-flex{
        width: 200px;
        margin: 10px auto;
        padding: 4px;
    }

 }