table {
    width: 100%;
}
p{
    margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    .title {
        color: #26282C;

font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
    }
    .more {
        color: #34CAA5;
text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
        cursor: pointer;
    }
}
.element {
    display: flex;
    align-items: center;
    gap: 10px;
}

.success {
    color: rgba(52, 202, 165, 1);
}
.failed {
    color: rgba(237, 84, 78, 1);
}
.invoice {
    display: flex;
    align-items: center;
    gap: 10px;

}


.mat-mdc-table {
    --mat-table-row-item-outline-width: 0;
max-width: 100%;
background-color: transparent !important;
  white-space: nowrap;
    .mat-mdc-header-cell {
        color: var(--secondary-color);
    }
}
.mat-elevation-z8 {
  box-shadow: none !important;
  overflow-x: auto !important;

}
.dark-mode{
  .header{
    .title{
      color: var(--text-theme);
    }
  }
  .mat-mdc-table {
    .mat-mdc-header-cell {
        color: var(--text-theme-light);
    }
    .mat-mdc-cell {
        color: var(--text-theme);
    }
}
}