<div class="container-fluid">
  <div class="header">
    <h1 class="title">Last Orders</h1>
    <p class="more">See All</p>
  </div>
  <div class="content">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="element"
          ><img src="{{ element.img }}" alt="" />
          <p>
            {{ element.name }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.amount }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> <p [ngClass]="element.status == 'Paid'? 'success' : 'failed'" >
            {{ element.status }} 
        </p> 
    </mat-cell>
      </ng-container>

      <ng-container matColumnDef="invoice">
        <mat-header-cell *matHeaderCellDef> Invoice </mat-header-cell>
        <mat-cell *matCellDef="let element" class="invoice">
            <i class="bi bi-file-earmark-arrow-down"></i>
            <p>View</p>
             </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
