<div class="container-fluid" [ngClass]="{ 'dark-mode': darkModeService.darkMode$ | async}">
  <div class="header">
    <h1 class="title">Last Orders</h1>
    <p class="more">See All</p>
  </div>
  <div class="content">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 table-responsive"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" class="element">
          <img src="{{ element.img }}" alt="" />
          <p>
            {{ element.name }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <p [ngClass]="element.status == 'Paid' ? 'success' : 'failed'">
            {{ element.status }}
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="invoice">
        <th mat-header-cell *matHeaderCellDef>Invoice</th>
        <td mat-cell *matCellDef="let element"  class="invoice">
          <i class="bi bi-file-earmark-arrow-down"></i>
          <p>View</p>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
