<div class="container-fluid">
  <div class="card-two-a">
    <mat-card class="example-card">
      <mat-card-content>
        <div class="stats-card">
          <div class="section-one">
            <div class="icon">
              <img src="../../../../assets/images/box-tick.png" alt="" />
            </div>
            <div class="chart">
              <img src="../../../../assets/images/poz-graph.png" alt="" />
            </div>
          </div>
          <div class="order">
            <p class="title">Total Order</p>
            <p class="number">350</p>
          </div>
          <div class="statistics">
            <div class="stat-icon poz">
              <img src="../../../../assets/images/graph-up.png" alt="" />
              <p>23.5%</p>
            </div>
            <div class="stat-duration">
              <p>vs. previous month</p>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-two-b">
    <mat-card class="example-card">
      <mat-card-content>
         <div class="stats-card">
          
           <div class="section-one">
             <div class="icon">
               <img src="../../../../assets/images/box-rotate.png" alt="" />
             </div>
             <div class="chart">
               <img src="../../../../assets/images/neg-graph.png" alt="" />
             </div>
           </div>
           <div class="order">
             <p class="title">Total Refund</p>
             <p class="number">270</p>
           </div>
           <div class="statistics">
             <div class="stat-icon neg">
               <img src="../../../../assets/images/graph-down.png" alt="" />
               <p>23.5%</p>
             </div>
             <div class="stat-duration">
               <p>vs. previous month</p>
             </div>
           </div>
        </div>
        </mat-card-content
      >
    </mat-card>
  </div>
  <div class="card-two-c">
    <mat-card class="example-card">
      <mat-card-content>
         <div class="stats-card">
          
           <div class="section-one">
             <div class="icon">
               <img src="../../../../assets/images/shopping-cart.png" alt="" />
             </div>
             <div class="chart">
               <img src="../../../../assets/images/neg-graph.png" alt="" />
             </div>
           </div>
           <div class="order">
             <p class="title">Average sales</p>
             <p class="number">1567</p>
           </div>
           <div class="statistics">
             <div class="stat-icon neg">
               <img src="../../../../assets/images/graph-down.png" alt="" />
               <p>23.5%</p>
             </div>
             <div class="stat-duration">
               <p>vs. previous month</p>
             </div>
           </div>
        </div>
        </mat-card-content
      >
    </mat-card>
  </div>
  <div class="card-two-d">
    <mat-card class="example-card">
      <mat-card-content
        >
         <div class="stats-card">
          
           <div class="section-one">
             <div class="icon">
               <img src="../../../../assets/images/coin.png" alt="" />
             </div>
             <div class="chart">
               <img src="../../../../assets/images/poz-graph.png" alt="" />
             </div>
           </div>
           <div class="order">
             <p class="title">Total Income</p>
             <p class="number">$350,000</p>
           </div>
           <div class="statistics">
             <div class="stat-icon poz">
               <img src="../../../../assets/images/graph-up.png" alt="" />
               <p>23.5%</p>
             </div>
             <div class="stat-duration">
               <p>vs. previous month</p>
             </div>
           </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
