<div class="container">
    <div class="card-two-a">
        <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sales Trends</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
    </div>
    <div class="card-two-b">
        <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sales Trends</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
    </div>
    <div class="card-two-c">
        <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sales Trends</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
</mat-card>
    </div>
    <div class="card-two-d">
        <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Sales Trends</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  
  </mat-card-content>
</mat-card>
    </div>
</div>
