/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  position: relative;
  font-family: "Plus Jakarta Sans", sans-serif;
}
*::-webkit-scrollbar{
    display: none;
}
