<app-header header="Dashboard"></app-header>
<div class="container-fluid">
    <div class="card-one">
<mat-card class="example-card">
  <mat-card-content>
    <app-card-one></app-card-one>
  </mat-card-content>
</mat-card>
    </div>
    <div class="card-two">
        <app-card-two></app-card-two>
    </div>
    <div class="card-three">
<mat-card class="example-card">
  <mat-card-content>
    <app-card-three></app-card-three>
  </mat-card-content>
</mat-card>
    </div>
    <div class="card-four">
        <mat-card class="example-card">
  <mat-card-content>
    <app-card-four></app-card-four>
  </mat-card-content>
</mat-card>
    </div>
</div>