<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <form class="d-flex" role="search">
        <button class="btn-search" type="submit">
          <i class="bx bx-search"></i>
        </button>
        <input
          class="form-control"
          type="search"
          placeholder="Search.."
          aria-label="Search"
        />
      </form>
      <ul class="navbar-nav">
        <li class="nav-item calendar">
          <i class="bx bx-calendar"></i><p>November 15, 2023</p>
        </li>
        <li class="nav-item">
          <button class="notify">
            <i class="bx bx-bell"></i>
          </button>
        </li>
        <li class="nav-item profile">
          <div class="profile-pic">
            <img src="../../../assets/images/Profile.png" alt="" />
          </div>
          <div class="profile-details">
            <p class="profile-name">Justin Bergson</p>
            <p class="profile-email">Justin@gmail.com</p>
          </div>
          <div class="icon">
            <i class="bx bx-chevron-down"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
