.container-fluid {
  
    width: 100%;
    height: 100%;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "one two "
    "three four";
 
}
.example-card{
  border-radius: 14px;

background: #FFF;
box-shadow: none;
}


.card-one {
  grid-area: one;
  width: 100%;
   .example-card {
    height: 100%;
      min-width: 800px;
  }
}
.card-two {
  grid-area: two;
  width: 100%;
}
.card-three {
  grid-area: three;
  width: 100%;
   .example-card {
    height: 100%;
      min-width: 800px;
  }
  
}
.card-four {
  grid-area: four;
  width: 100%;
  
}

::ng-deep .mat-mdc-card-content {
  height: 100%;
  width: 100%;
  
}
.dark-mode{
  .example-card {
    background: var(--bg-card);
    border-color: (--dark-border);
  }
}
@media only screen and (max-width: 1300px) {
  .container-fluid {
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
  }
}
@media only screen and (max-width: 1024px) {
  
  .card-four, .card-one, .card-two, .card-three{
      overflow: auto;
  }
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
}
