.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    .title {
        color: #26282C;

font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
    }
    .more {

text-align: center;

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 26px; /* 144.444% */
        cursor: pointer;
    }
}